<!--
// Student Name: Dathan Dominic Neal
// Student ID: 1218482291
// Date September 4th, 2023
-->

<!DOCTYPE html>
<html>
<head>
  <title>User Details</title>
</head>
<body>
  <h1>User Details</h1>
  <p>Name: <%= name %></p>
  <p>Age: <%= age %></p>
  <p>Email: <%= email %></p>
  <a href="/">Return</a>
</body>
</html>