<!--
// Student Name: Dathan Dominic Neal
// Student ID: 1218482291
// Date September 4th, 2023
-->

<!DOCTYPE html>
<html>
<head>
  <title>Retrieve URL</title>
</head>
<body>
  <h1>Retrieve URL</h1>
  <form action="/fetch-url" method="post">
    <label for="url">Enter URL:</label>
    <input type="text" id="url" name="url" required>
    <button type="submit">Retrieve URL</button>
  </form>
  <div>
    <h2>Output:</h2>
    <pre><%= response %></pre>
  </div>
</body>
</html>