<!--
// Student Name: Dathan Dominic Neal
// Student ID: 1218482291
// Date September 4th, 2023
-->

<!DOCTYPE html>
<html>
<head>
  <title>Book List</title>
</head>
<body>
  <h1>Book List</h1>
  <ul>
    <% books.forEach(book => { %>
      <li><%= book.title %> by <%= book.author %> (<%= book.year %>)</li>
    <% }); %>
  </ul>

  <h2>Add New Book</h2>
  <form action="/add" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required><br><br>

    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required><br><br>

    <label for="year">Year:</label>
    <input type="number" id="year" name="year" required><br><br>

    <button type="submit">Add Book</button>
  </form>
</body>
</html>