<!--
// Student Name: Dathan Dominic Neal
// Student ID: 1218482291
// Date September 4th, 2023
-->

<!DOCTYPE html>
<html>
<head>
  <title>Fruits List</title>
</head>
<body>
  <h1>Fruits List</h1>
  <ul>
    <% fruits.forEach(fruit => { %>
      <li><%= fruit %></li>
    <% }); %>
  </ul>
</body>
</html>